<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  
  <title>Trig Practice</title>
  <!---Bootstrap Css -->
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <!--Adobe Web Font -->
  <script src="http://use.edgefonts.net/droid-sans.js"></script>
</head>
<body>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 60px;
      }
    </style>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand shameless self-promotion" href="http://twitter.com/oojx" target="_blank">@oojx</a>
          
          
      

      </div>
    </div>
  </div>
  

 <div class="container well">
  <div class="tweet-button">
          <a href="https://twitter.com/share" class="twitter-share-button pull-right" 
            data-text="Trigonometric Identities and Integrals Practice #angularjs"
            data-url="http://oojr.github.com/trig-practice/"
           data-via="oojx" data-lang="en">Tweet</a>
        </div>

      <h1>Trigonometric Identities and Integrals Practice</h1>

      <p>Fill in the proper answers for each identity and integral, you will receive feedback, telling if you are correct or not quite right </p>
      <h3>Identities</h3>
      <div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  Use a "^" for exponents, leave answer with no space in between operation signals like "-" , the first answer is <strong>1/sinx</strong> and Number 3 and 5 are in relation to tanx and sinx respectively
</div>
<!--Problem 1-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="cscx">1. csc <em>x</em> =</label>
    <div class="controls">
      <input type="text" id="cscx" type="text"  name="input" ng-model="text"
             ng-pattern="answer1" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 2-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="secx">2. sec <em>x</em> =</label>
    <div class="controls">
      <input type="text" id="secx" type="text" name="input" ng-model="text"
             ng-pattern="answer2" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div><!--end of row 2 -->

<!--Problem 3-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="cotx">3. cot <em>x</em> =</label>
    <div class="controls">
      <input type="text" id="cotx" type="text" name="input" ng-model="text"
             ng-pattern="answer3" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 4-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="tanx">4. tan <em>x</em> =</label>
    <div class="controls">
      <input type="text" id="tanx" type="text" name="input" ng-model="text"
             ng-pattern="answer4" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 5-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="cotx">5. cot <em>x</em> =</label>
    <div class="controls">
      <input type="text" id="cotx" type="text" name="input" ng-model="text"
             ng-pattern="answer5" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 6-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="sinsqxcossqx">6. sin<sup>2</sup><em>x</em> + cos<sup>2</sup><em>x</em> =</label>
    <div class="controls">
      <input type="text" id="sinsqxcossqx" type="text" name="input" ng-model="text"
             ng-pattern="answer6" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 7-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="tansqxplus1">7. tan<sup>2</sup><em>x</em> + 1 =</label>
    <div class="controls">
      <input type="text" id="tansqxplus1" type="text" name="input" ng-model="text"
             ng-pattern="answer7" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 8-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="1pluscotsqx">8. 1 + cot<sup>2</sup><em>x</em> =</label>
    <div class="controls">
      <input type="text" id="tanx" type="text" name="input" ng-model="text"
             ng-pattern="answer8" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 9-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="sinxcosx">9. sin<em>x</em> cos<em>x</em> =</label>
    <div class="controls">
      <input type="text" id="tanx" type="text" name="input" ng-model="text"
             ng-pattern="answer9" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 10-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="cos2x">10. cos 2<em>x</em> =</label>
    <div class="controls">
      <input type="text" id="cos2x" type="text" name="input" ng-model="text"
             ng-pattern="answer10" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 11-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="sinsqx">11. sin<sup>2</sup> <em>x</em> =</label>
    <div class="controls">
      <input type="text" id="sinsqx" type="text" name="input" ng-model="text"
             ng-pattern="answer11" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 12-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="cossqx">12. cos<sup>2</sup><em>x</em> =</label>
    <div class="controls">
      <input type="text" id="cossqx" type="text" name="input" ng-model="text"
             ng-pattern="answer12" required>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->


<h3>Integrals</h3>

<!--Problem 13-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="intsinx">13. &int; sin <em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class="input-append">
      <input type="text" id="intsinx" type="text" name="input" ng-model="text"
             ng-pattern="answer13" required> <span class="add-on">+ C</span>
        </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span> 
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 14-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="intcosx">14. &int; cos <em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class="input-append">
      <input type="text" id="tanx" type="text" name="input" ng-model="text"
             ng-pattern="answer14" required> <span class="add-on">+ C</span>
      </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span> 
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 15-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="intsecsqx">15. &int; sec<sup>2</sup><em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class="input-append">
      <input type="text" id="intseqsqz" type="text" name="input" ng-model="text"
             ng-pattern="answer15" required><span class="add-on">+ C</span>
        </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span> 
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 16-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="intcscsqx">16. &int; csc<sup>2</sup><em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class="input-append">
      <input type="text" id="intcscsqx" type="text" name="input" ng-model="text"
             ng-pattern="answer16" required><span class="add-on">+ C</span>
      </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span> 
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 17-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="intsecxtanx">17. &int; sec<em>x</em> tan<em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class= "input-append">
      <input type="text" id="intsecxtanx" type="text" name="input" ng-model="text"
             ng-pattern="answer17" required> <span class="add-on">+ C</span>
        </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 18-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="intcscxcotx">18. &int; csc<em>x</em> cot<em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class="input-append">
      <input type="text" id="intcscxcotx" type="text" name="input" ng-model="text"
             ng-pattern="answer18" required> <span class="add-on">+ C</span>
      </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 19-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="intsecx">19. &int; sec <em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class="input-append">
      <input type="text" id="tanx" type="text" name="input" ng-model="text"
             ng-pattern="answer19" required> <span class="add-on">+ C</span>
        </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 20-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="tanx">20. &int; csc <em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class="input-append">
      <input type="text" id="intcscx" type="text" name="input" ng-model="text"
             ng-pattern="answer20" required> <span class="add-on">+ C</span>
      </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 21-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="inttanx">21. &int; tan <em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class="input-append ">
      <input type="text" id="inttanx" type="text" name="input" ng-model="text"
             ng-pattern="answer21" required> <span class="add-on">+ C</span>
      </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

<!--Problem 22-->
<div class="row offset2">
<form class="form-horizontal" name="myForm" ng-controller="Ctrl">
  <div class="control-group">
    <label class="control-label" for="intcotx">22. &int; cot <em>x</em> d<em>x</em> =</label>
    <div class="controls">
      <div class="input-append ">
      <input type="text" id="intcotx" type="text" name="input" ng-model="text"
             ng-pattern="answer22" required><span class="add-on">+ C</span>
      </div>
      <span class="help-inline label" ng-show="myForm.input.$error.required">
            Type Something...</span>
      <span class="label label-warning" ng-show="myForm.input.$error.pattern">
            Not quite...</span>
            <span class="label label-success"ng-show="myForm.input.$valid">You are Correct!</span>
    </div>
  </div>
</form>
</div> <!--End of row -->

    </div> <!-- /container -->

    
  

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!-- Tweet Button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
